h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    margin-top: 10px;
    color: white;
    text-align: right;
    margin-right: 10px;
}
